#Permitir activar el módulo de apache para el manejo de las urls
RewriteEngine On

#Validar si la condición es verdadera, REQUEST_FILENAME no hace referencia a un directorio
RewriteCond %{REQUEST_FILENAME} !-d

#Validar si la condición es verdadera, REQUEST_FILENAME no hace referencia a un archivo
RewriteCond %{REQUEST_FILENAME} !-f

#Si las dos condiciones anteriores se cumplen, se filtra todo al archivo index.php
RewriteRule ^(.*)$ index.php?/$1 [L]